*::selection {
  color: var(--background-color);
  background-color: var(--text-color);
}

a {
  text-decoration-color: transparent;
  color: var(--link-color);
  text-decoration-thickness: 0.125em;
}

a:hover,
a:focus {
  text-decoration-color: var(--link-color);
  outline: none;
}

@media(max-width: 767px) {
  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 1;
    background-color: var(--project-border-color);
  }
}

/* main page */
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
}

main {
  max-width: 600px;
  margin: 8rem auto;
  padding: 0 20px;
  flex-grow: 1;
}

@media(min-width: 768px) {
  main {
    max-width: 1200px;
    padding: 0 5rem;
    margin: 12rem auto;
    gap: 100px;
    display: grid;
    grid-template-columns: 40% 1fr;
  }

  header {
    position: sticky;
    top: 12rem;
    align-self: start;
    max-width: 420px;
  }

  .scroll-area {
    padding-top: 10px;
  }
}

header {
  margin-bottom: 6rem;
}

.intro {
  margin-bottom: 1rem;
}

.section-title {
  color: var(--grey-mid);
  margin-bottom: -5px;
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: -0.03rem;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid var(--project-border-color);
  padding-bottom: 0.75rem;
}

.item h4 {
  font-size: 1.8rem;
  line-height: 1.25;
  margin: 0;
  font-weight: 400;
  color: var(--link-color);
  letter-spacing: -0.02rem;
}

.item p {
  color: var(--grey-mid);
  display: inline-block;
  font-size: 1.5rem;
  line-height: 1.4;
  margin-top: 0.3rem;
  letter-spacing: -0.03rem;
}

.item a {
  border: 0.125em solid transparent;
  border-bottom-color: var(--project-border-color);
  padding: 1.5rem;
  padding-left: 0;
  transition: border 0.2s ease-in-out;
  position: relative;
  display: block;
}

.item:hover a,
.item a:focus {
  border-bottom-color: var(--link-color);
}

.item h4::after {
  content: '→';
  display: inline-block;
  vertical-align: text-top;
  padding-left: 8px;
  transform: translateX(-10px);
  opacity: 0;
  transition: 0.3s ease-in-out all;
}

.item:hover h4::after,
.item a:focus h4::after {
  opacity: 1;
  transform: translateX(0);
}

.item a:hover,
.item a:focus {
  text-decoration: none;
}

.item i {
  opacity: 0.75;
  margin-left: 3px;
  font-size: 90%;
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 5rem 5rem 3rem;
  background-color: var(--spacer-background);
}

.footer-note {
  font-size: 1.4rem;
  color: var(--grey-mid);
}

footer .avatar {
  object-fit: cover;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  object-position: right;
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid transparent;
  filter: hue-rotate(-40deg);
  transition: border-color 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

footer a:hover .avatar {
  cursor: pointer;
  transform: translateX(-50%) rotate(3deg);
  border-color: var(--link-color);
}