@media (prefers-color-scheme: light) {
  body {
    --background-color: #fff;
    --text-color: #302f2f;
    --link-color: #803b3b;
    --header-text-color: #383636;
    --spacer-background: hsl(0, 37%, 97%);
    --grey-mid: hsl(0, 7%, 39%);

    --project-border-color: hsla(0, 5%, 75%, 0.4);

    --logo-color-block-1: #803b3b;
    --logo-color-block-2: #228176;
    --logo-color-block-3: #3b4480;

    --spotify-icon-color: #1ed760;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --background-color: #240b05;
    --text-color: #f0e8e6;
    --link-color: #e9c46a;
    --header-text-color: #faf4f2;
    --spacer-background: hsl(43, 74%, 8%);
    --grey-mid: #c2bab8;

    --project-border-color: hsla(43, 5%, 26%, 0.8);

    --logo-color-block-1: #e9c46a;
    --logo-color-block-2: #65b87e;
    --logo-color-block-3: #716dd1;

    --spotify-icon-color: #f0e8e6;
  }
}