  body {
    --background-color: #F4F5F2;
    background-color: var(--background-color);

    --primary-color-100: #2F3321;
    --primary-color-90: oklch(from var(--primary-color-100) l c h / 0.9);
    --primary-color-80: oklch(from var(--primary-color-100) l c h / 0.8);
    --primary-color-70: oklch(from var(--primary-color-100) l c h / 0.7);
    --primary-color-60: oklch(from var(--primary-color-100) l c h / 0.6);
    --primary-color-50: oklch(from var(--primary-color-100) l c h / 0.5);
    --primary-color-40: oklch(from var(--primary-color-100) l c h / 0.4);
    --primary-color-30: oklch(from var(--primary-color-100) l c h / 0.3);
    --primary-color-20: oklch(from var(--primary-color-100) l c h / 0.2);
    --primary-color-10: oklch(from var(--primary-color-100) l c h / 0.1);
    --primary-color-5: oklch(from var(--primary-color-100) l c h / 0.05);

    --text-color: var(--primary-color-100);
    --link-color: var(--primary-color-100);
    --header-text-color: var(--primary-color-100);
    --spacer-background: #fff;
    --secondary-text-color: var(--primary-color-60);


    --accent-color: #5B5E50;
    --project-border-color: var(--primary-color-80);
  }

  /* @media (prefers-color-scheme: dark) {
  body {
    --background-color: #240b05;
    --text-color: #f0e8e6;
    --link-color: #e9c46a;
    --header-text-color: #faf4f2;
    --spacer-background: hsl(43, 74%, 8%);
    --grey-mid: #c2bab8;

    --project-border-color: hsla(43, 5%, 26%, 0.8);

    --logo-color-block-1: #e9c46a;
    --logo-color-block-2: #65b87e;
    --logo-color-block-3: #716dd1;
  }
} */